@media(max-width:600px) {

    /* navigation bar styles */


    .navigation-bar {
        flex-direction: column;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }

    .navigation-bar > .left-side > .logo img {
        margin: 0;
    }

    .navigation-bar > .right-side {
        flex-direction: column;
    }

    .navigation-bar > .right-side > .link {
        margin: 10px 0;
        width: 100%;
        padding: 0;
    }

    /* Home Page Styles */


    .page-container {
        text-align: center;
    }
    .page-container > .top-text {
        margin: 0 auto; 
        text-align: center;
        width: 70%;
        padding: 0;
    }
    .page-container > .main-text {
        margin: 0 auto;
        width: 70%;
        text-align: center;
        padding: 0;
    }
    .page-container h1 {
        padding: 0;
    }

    /* Menu Page Styles */


    .menu-wrapper img {
        width: 90%;
    }
    .menu-wrapper > .food {
        grid-template-columns: 1fr;
    }
    .menu-wrapper > .food > .food-items:nth-of-type(even) {
        margin: 0px;
    }

    /* About us page styles */


    .page-container > .body {
        flex-direction: column;
        width: 100%;
    }
    .page-container > .body > .box1, .box2 {
        width: 100%;
        margin-top: 25px;
    }

    .page-container > .extra-information > .food-information > .top-section, .bottom-section {
        flex-direction: column;
        width: 100%;
        margin: 20px auto;
        align-items: center;
    }
    .beefDes, .potatoDes, .shakeDes{
        margin: 20px auto;
    }
}